<pre>{{ createClassroomForm.value | json }}</pre>
<div class="container my-3">
    <div class="d-flex flex-column align-items-md-center my-3">
        <h2 class="heading-2">Classroom list</h2>
        <button type="button" class="btn btn-primary align-self-start" data-bs-toggle="modal"
            data-bs-target="#createModal" *ngIf="isAdmin">
            <i class="bi bi-plus-circle-fill me-2"></i> CLASSROOM
        </button>
    </div>
    <hr>
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-my-class-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-my-class" type="button" role="tab" aria-controls="v-pills-my-class"
                aria-selected="true">My class</button>
            <button class="nav-link" id="v-pills-un-enrolled-class-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-un-enrolled-class" type="button" role="tab"
                aria-controls="v-pills-un-enrolled-class" aria-selected="false" *ngIf="isStudent">Un enrolled class</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-my-class" role="tabpanel"
                aria-labelledby="v-pills-my-class-tab" tabindex="0">
                <div class="d-flex flex-wrap gap-0 row-gap-2 column-gap-1 ">
                    <div class="card" style="width: 15rem;" *ngFor="let c of classes; ">
                        <img src="{{ c.fileId | url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="card-title heading-md-2 fw-bold">{{ c.classCode }}</span>
                            <p class="card-text">{{ c. className }} | Teacher : {{ c.teacherName }}</p>
                            <a class="btn btn-secondary" (click)="getDetail(c.id)" *ngIf="isTeacher || isStudent">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-un-enrolled-class" role="tabpanel"
                aria-labelledby="v-pills-un-enrolled-class-tab" tabindex="0">
                <div class="tab-pane fade show active" id="v-pills-my-class" role="tabpanel"
                    aria-labelledby="v-pills-my-class-tab" tabindex="0">
                    <div class="d-flex flex-wrap gap-0 row-gap-2 column-gap-1 ">
                        <div class="card" style="width: 15rem;" *ngFor="let uc of unenrolledClasses; ">
                            <img src="{{ uc.fileId | url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <span class="card-title heading-md-2 fw-bold">{{ uc.classCode }}</span>
                                <p class="card-text">{{ uc. className }} | Teacher : {{ uc.teacherName }}</p>
                                <button href="#" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#enrollModal" (click)="setClassId(uc.id)">Enroll</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create new classroom</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="createClassroomForm" (ngSubmit)="createClassroom()">
                    <div class="row gy-md-1">
                        <div class="col-md-3">
                            <label for="classroom-code" class="form-label">Code <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="classroom-code" formControlName="classCode"
                                required>
                        </div>

                        <div class="col-md-3">
                            <label for="body" class="form-label">Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="body" formControlName="className" required>
                        </div>
                        <div class="col-md-3">
                            <label for="priority" class="form-label">Teacher <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-select" id="priority" formControlName="teacherId" required>
                                <option selected>Choose Teacher</option>
                                <option *ngFor="let t of teachers;" [value]="t.id">{{ t.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="thumbnail" class="form-label">Thumbnail <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="file" id="thumbnail" (change)="fileUpload($event)"
                                required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enrollModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Enroll this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                <button type="submit" class="btn btn-primary" (click)="enrollClass()">YES</button>
            </div>
        </div>
    </div>
</div>