
<div class="container p-3">
    <h3 class="heading-3 my-3">Change Password</h3>
    <form class="border p-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row gy-md-1">
            <div class="col-md-3">
                <label for="old-password" class="form-label">Old Password <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="password" class="form-control" id="old-password" formControlName="oldPassword" required>
            </div>
            <div class="col-md-3">
                <label for="new-password" class="form-label">New Password <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="password" class="form-control" id="new-password" formControlName="newPassword" required>
            </div>
            <div class="col-md-3">
                <label for="confirm-password" class="form-label">Confirm New Password <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="password" class="form-control" id="confirm-password" formControlName="confirmNewPassword" required>
            </div>

        </div>
        <button type="submit" class="btn btn-primary mt-3">SAVE</button>
    </form>
</div>