<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">Joe's School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" routerLink="/users" *ngIf="isAdmin">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/classrooms">Classroom</a>
                </li>
            </ul>
            <div class="dropdown">
                <div class="btn-group">
                    <img [src]="imgUrl" alt="" data-bs-toggle="dropdown" class="rounded-circle" style="width: 3rem; height: 3rem" *ngIf="isPictureExist">
                    <i class="bi-person-circle" style="font-size: 2rem;" data-bs-toggle="dropdown"*ngIf="isPictureNotExist"></i>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" routerLink="/users/profile">Profile</a></li>
                        <li><a class="dropdown-item" routerLink="/users/change-password">Change Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item text-danger" routerLink="/login" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>