<pre>{{ createQuestionForm.value | json }}</pre>
<div class="container mt-3">
    <h2 class="heading-2">Create new Question</h2>
    <form [formGroup]="createQuestionForm" (ngSubmit)="createQuestion()">
        <div class="row gy-md-2">
            <div class="col-md-3">
                <label for="code" class="form-label">Code <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="code" formControlName="questionCode" required>
            </div>
            <div class="col-md-3">
                <label for="body" class="form-label">Body </label>
            </div>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="body" formControlName="questionBody"></textarea>
            </div>

            <ng-container *ngIf="!options.value.length">
                <div class="col-md-3">
                    <label for="attachment" class="form-label">Attachment </label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="file" id="attachment" (change)="fileUpload($event)" multiple>
                </div>
            </ng-container>

            <div class="col-md-3">
                <div class="form-text">Multiple Choice</div>
            </div>
            <div class="col-md-9">
                <button type="button" class="btn btn-primary" (click)="onAdd()">ADD MORE OPTIONS</button>
            </div>
            <div class="d-flex" *ngFor="let c of options.controls; let i=index;" formArrayName="options">
                <div class="col-md-3" >
                    <label for="company" class="form-label">Options </label>
                </div>
                <div class="col-md-9" >
                    <div class="d-flex align-items-center" [formGroupName]="i">
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" formControlName="isCorrect" aria-label="checkbox for correct option">
                            </div>
                            <input type="text" class="form-control" formControlName="optionsLabel" aria-label="label for options">
                        </div>
                        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="remove" (click)="onRemove(i)"><i class="bi bi-dash-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <a href="../tasks/task-detail.html" class="btn btn-secondary my-3">BACK</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>